  version: "3.8"

  services:
    # nome serviço. Pode ser qualquer um
    app:
      # localização do Dockerfile. Nesse caso está na mesma pasta do docker-compose.yaml
      # Essas definições se referem ao comando "docker run -p 3000:3000 -d microsservicos-node-express"
      build: .
      command: npm start
      ports: 
        - "3000:3000"
      # Definir a pasta do conteiner que receberá todos os arquivos alterados no projeto
      # Igual ao WORKDIR do Dockerfile
      volumes: 
        - .:/usr/app
